# Dependencies
/deps/

# Build
/_build/
/cover/
/doc/

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Mix
/.fetch
erl_crash.dump
*.ez
*.beam

# Test
/tmp/

# IDE
.elixir_ls/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
